#container{
    /* display: grid;
    grid-template-columns: auto auto auto auto auto; */
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
}

.card{
    background-color: #ECEBE3;
    width: 270px;
    height: 300px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Courier New', Courier, monospace;
}

.card-image{
    height: 150px;
    margin-bottom: 15px;
    border-radius: 10px 10px 10px 10px;
    background-size: cover;
}

.card-image img{
    max-height: 150px;
    align-items: center;
    object-fit: cover;    
}

.card-image img{
    height: auto;
    margin: auto;
}

.card p{
    margin-left: 15px;
}

.card-info p{
    margin: 5px;
    margin-left: 15px;
}

.name-vehicle{
    text-align: center;
}

.card a{
    text-decoration: none;
}

.card a:hover{
    background-color: yellow;
    transition: color 0.5s;
}