header nav {
    margin: 0;
    padding: 10px;
    background-color: gray;
    width: auto;
}

header nav a {
    color:black;
    text-decoration: none;
    padding:10px;
}

header nav a:hover{
    color:yellow;
    transition: color 0.5s;
}

footer p {
    background-color: gray;
    width: auto;
    text-align: center;
    padding: 10px;
}