/* .logo{
    align-items: center;
    text-align: center;
}

.logo img{
    width: 375px;
    height: 300px;
}

#main-container{
    width: auto;
    height: auto;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

#card-character{
    width: 425px;
    height: 125px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    margin:10px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #ECEBE3;
}

#card-character img{
    width: 125px;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    border:1px solid black;
}

a{
    text-decoration: none;
}

ul li{
    list-style-type:none;
} */

#container{
    /* display: grid;
    grid-template-columns: auto auto auto auto auto; */
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
}

.card{
    background-color: #ECEBE3;
    width: 270px;
    height: 300px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Courier New', Courier, monospace;
}

.card-image{
    height: 150px;
    margin-bottom: 15px;
    border-radius: 10px 10px 10px 10px;
    background-size: cover;
}

.card-image img{
    max-height: 150px;
    align-items: center;
    object-fit: cover;    
}

.card-image img{
    height: auto;
    margin: auto;
}

.card p{
    margin-left: 15px;
}

.card-info p{
    margin: 5px;
    margin-left: 15px;
}

.name-starship{
    text-align: center;
}

.card a{
    text-decoration: none;
}

.card a:hover{
    background-color: yellow;
    transition: color 0.5s;
}