<!-- <div class="logo">
    <img src="img/logo.png" alt="logo">
</div> -->
<!-- <div id="listado">
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>        
    </ul>
</div> -->
<div>
    <ul>
        <li>{{characters.next}}</li>
        <li> {{ characters.count}} </li>
        @for (item of characters.results; track $index) {
            <p>{{item.name}}</p>
            <p> {{item.homeworld}} </p>             
        }
    </ul>            
</div>
<!-- <div id="paginador">
    <button name="privious"><</button>
    <button name="number">1</button>
    <button name="next">></button>
</div> -->
